{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "google",
  "rules": {
    "arrow-parens": ["error", "as-needed"]
  }
}
